body {
  font-family: Otari, Helvetica;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-size: 3em;
  font-family: Drina, Helvetica;
  font-weight: normal;
  font-style: normal;
}

.venn {
  position: relative;
  height: 25rem;
}

.venn div {
  color: #FFFFFF;
  width: 50%;
  position: absolute;
  text-align: center;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.3) 100%);
  height: 19.5rem;
  width: 19.5rem;
  border-radius: 19.5rem;
  padding: 5rem;
  font-size: 2em;
  /*mix-blend-mode: multiply;*/
  /* unfortunately not well supported enough */
}

.venn .left:hover {
  animation-duration: 2s;
  animation-name: left-blob;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.venn .right:hover {
  animation-duration: 2s;
  animation-name: right-blob;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.venn .left {
  left: 2.5rem;
  background-color: rgba(147, 16, 16, 0.6);
  padding-top: 6rem;
}

.venn .right {
  right: 2.5rem;
  background-color: hsla(220, 80%, 30%, 0.6);
  padding-top: 10rem;
}

@keyframes left-blob {
  from {
    background-color: rgba(147, 16, 16, 0.6);
  }

  to {
    background-color: rgba(230, 30, 30, 0.6);
  }
}

@keyframes right-blob {
  from {
    background-color: hsla(220, 80%, 30%, 0.6);
  }

  to {
    background-color: hsla(220, 80%, 50%, 0.6);
  }
}

* {
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
