.container {
  max-width: 40rem;
  margin: 0 auto;
}

.name {
  text-align: center;
}

.venn {
  position: relative;
  height: 25rem;
}

.venn .label {
  position: absolute;
  border-left: 0.25rem dashed black;
  left: 50%;
  top: -1rem;
  height: 55px;
}

.venn div {
  width: 50%;
  position: absolute;
  text-align: center;
  height: 20rem;
  width: 20rem;
  border-radius: 20rem;
  padding: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.venn .left {
  left: 3rem;
  background-color: rgba(191, 104, 55, 0.5);
  padding-top: 8.5rem;
}

.venn .right {
  right: 3rem;
  background-color: rgba(55, 104, 191, 0.5);
  padding-top: 10rem;
}

* {
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
