body {
  font-family: 'Open Sans', Helvetica, Arial;
}

h2 {
  font-family: Otari, Helvetica;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-size: 3em;
  font-family: Drina, Helvetica;
  font-weight: normal;
  font-style: normal;
  border-bottom: 3px dotted #666;
}

/*clickable*/

.hidden {
  display: none;
}

.more {
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.clicked {
  border-bottom: 2px solid #EEE;
}

/*select*/

.select {
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.select.selected {
  border-bottom: 2px solid #FF0000;
  cursor: pointer;
}

.select.unselected {
  border-bottom: 2px solid #EEE;
  color: #EEE;
  cursor: pointer;
}

.or.unselected {
  color: #EEE;
}

* {
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
